[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=2048
Comment="2048 GUI game"
Exec=python3 /usr/bin/2048.py
Icon=/usr/share/icons/2048-icon.jpg
Terminal=false
